/* -------------------------- CSS Bienenfleiß -------------------------- */

:root {
    --primary: #FFBC00;
    --secondary: #C6C6C6;
    --dark: #1D1D1D;
    --white: #FFF;
    --info: #A977B9;
    --fw-light: Avenir-light, sans-serif;
    --fw-medium: Avenir-medium, sans-serif;
    --fw-bold: Avenir-black, sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--dark);
    font-family: var(--fw-light);
    font-weight: lighter;
    overflow-x: hidden;
}

a,
.button {
    cursor: pointer;
}

img {
    padding: 0;
    margin: 0;
}

a::before {
    box-sizing: inherit;
}


/* Font Styling */

h1,
h2 {
    font-family: var(--fw-bold);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h2.card-headline {
    padding-bottom: 1rem;
}

h4.card-subline {
    font-size: 1rem;
    font-family: var(--fw-bold);
}

h4 {
    font-family: var(--fw-medium);
}


/* Buttons */

.button {
    border-radius: 25px;
    padding: 15px 60px;
}

.btn-hero {
    display: flex;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--white);
    padding: .93rem 6.25rem;
    text-decoration: none;
    scroll-behavior: smooth;
}

.btn-hero:hover {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
}

.btn-bestellen,
.btn-hero,
a {
    transition: 0.4s;
}

.btn-bestellen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
}

.btn-bestellen:hover {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}


/* Navigation */

.navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--white);
    border-bottom: 2px solid var(--primary);
    width: 100%;
    z-index: 100;
}

#navbar {
    transition: 0.4s;
}

.sticky {
    position: fixed;
    top: 0;
}

.nav,
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    list-style: none;
    padding-bottom: 2rem;
    line-height: 130%;
}

.nav-controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    align-items: center;
    height: 94px;
}

.nav-link {
    padding: .5rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: 2px solid var(--primary);
    margin: auto;
}


/* to the top button nicht selber gebaut : https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid var(--info);
    outline: none;
    background-color: var(--info);
    color: var(--white);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
}

#myBtn:hover {
    border-color: var(--info);
    background-color: transparent;
    color: var(--info);
    transition: 0.4s;
}


/* Header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    /*margin-bottom: -3rem;*/
    /* z-index: 99;*/
    width: 20%;
    /* Logo beim Scroll 17% */
    padding-right: 2.5rem;
}

#logo {
    transition: 0.4s;
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.img-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-bottom: 5rem;
    width: 30%;
}

.round-img {
    max-width: 100%;
    height: auto;
}

.hero-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Article */

.article {
    background-color: var(--primary);
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0 2rem;
}

.article-container {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    padding-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
}

h2.article-headline {
    font-family: var(--fw-light);
    font-size: 3.5rem;
    line-height: 110%;
    color: var(--white);
    padding-top: 5rem;
    text-align: center;
}

h3.article-subline {
    font-family: var(--fw-light);
    font-size: 1.5rem;
    text-align: center;
    line-height: 110%;
    padding-top: 1.5rem;
}

.col-text-l {
    display: flex;
    flex-direction: row;
    color: var(--dark);
    align-items: center;
    justify-self: center;
    width: 100%;
    order: 1;
    padding-left: 1rem;
}

.col-text-r {
    display: flex;
    flex-direction: row;
    color: var(--dark);
    align-items: center;
    justify-self: center;
    width: 100%;
    order: 3;
    padding-right: 1rem;
}

.col-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    order: 2;
    width: 80%
}

.article-img {
    max-width: 100%;
    height: auto;
}

a.link-text {
    font-family: var(--fw-medium);
    color: var(--dark);
    text-decoration: underline;
}

.link-text:hover {
    color: var(--info);
}


/* Gutschein-Cards */

.coupon-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem auto 10rem;
    max-width: 1440px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #EFEFEF;
    box-shadow: 0px 24px 30px #DBDADA;
    border: none;
    border-radius: 45px;
    width: 80%;
    margin-top: 5rem;
    transition: all 0.4s;
}

.card:hover {
    transform: translate(0px, -0.7rem);
}

.card-img {
    height: auto;
    width: 100%;
}

.coupon-img {
    border-radius: 25px;
    width: 100%;
}

.card-header {
    display: flex;
    padding: 2rem 2rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0 2rem 0;
    height: 100%;
    width: 100%;
}

h2.card-headline {
    margin-bottom: 1.3rem;
}

span.side-headline {
    font-family: var(--fw-medium);
    color: var(--primary);
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}

.list-rows {
    display: flex;
    flex-direction: row;
    min-height: 270px;
}

ol {
    margin-top: 2rem;
}

.list-right {
    text-align: left;
    flex-grow: 1;
}

.list-item-right {
    float: right;
    font-size: .7rem;
}

.info-sub {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
    color: var(--info);
    font-family: var(--fw-bold);
    font-size: 0.8;
    padding: 0 2rem;
    font-size: 0.9rem;
}

span.side-info {
    font-family: var(--fw-light);
    color: var(--info);
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--dark);
    color: var(--white);
    margin-top: 5rem;
    padding: 2rem 4rem 0;
}

.footer-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    max-width: 1200px;
    min-width: 100%;
    padding: 0 4rem;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 2rem;
    white-space: nowrap;
    font-family: var(--fw-medium);
    min-height: 94px;
}

.nav-footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    order: 1;
    white-space: nowrap;
    font-family: var(--fw-medium);
}

.contact-link {
    padding: 0 0 .5rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.contact-link:hover,
.contact-link.active {
    border-bottom: 2px solid var(--primary);
    padding-bottom: .5rem;
}

p.contact-link {
    text-transform: None;
}

.footer-link {
    padding: 0.5rem 0.5rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin: 1.5rem 1.5rem;
    text-transform: uppercase;
}

.footer-link:hover,
.footer-link.active {
    border-bottom: 2px solid var(--primary);
    padding-bottom: .5rem;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    width: 70%;
}

.footer-logo {
    max-width: 15%;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    order: 3;
    white-space: nowrap;
}

.contact-head {
    color: var(--primary);
    font-family: var(--fw-medium);
    line-height: 120%;
}


/* Media Querys */

@media (min-width: 1500px) {
    .round-img {
        max-width: 60%;
    }
    .logo-img {
        max-width: 30%;
    }
}

@media (max-width: 991.98px) {
    .coupon-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 70%;
    }
    .article-container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .nav-controller {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1 rem 2 rem;
        align-items: center;
        height: 54px;
        width: 100%;
    }
    /* Hero */
    .logo-img {
        max-width: 100%;
    }
    .round-img {
        max-width: 80%;
    }
    .btn-hero {
        padding: 1rem 4.5rem;
    }
    /* Atrikel */
    h2.article-headline {
        padding-top: 2rem;
        font-size: 2.5rem;
    }
    .article-container {
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
    .col-text-l,
    .col-text-r {
        padding: 0;
    }
    .col-img {
        width: 100%;
        padding: 1.5rem 0;
    }
    /* Cards */
    .coupon-wrapper {
        margin: 2rem 0 2rem;
        padding: 2rem 0;
    }
    .card {
        width: 80%;
        margin-top: 2rem;
    }
    /* Footer */
    .footer {
        padding: 2rem;
    }
    .footer-row {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        min-width: 100%;
        padding: 0;
    }
    .nav-footer,
    .contact {
        flex-direction: row;
        align-self: center;
        margin-bottom: 1rem;
    }
    .footer-link {
        border-bottom: 2px solid transparent;
        padding: .5rem;
        text-decoration: none;
        margin-bottom: 0;
    }
    .contact-item {
        padding: 0 .5rem;
    }
    .nav-footer-contact {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-self: flex-start;
        order: 3;
        white-space: nowrap;
        font-family: var(--fw-medium);
    }
    .footer-logo {
        max-width: 70%;
        margin: 2rem;
    }
}