/* ------------------------------------------------------------------------------------------------ CSS Bienenfleiß ---------------------------------------------------------------------------------------------------------------------------------------- */

:root {
    --primary: #FFBC00;
    --secondary: #C6C6C6;
    --dark: #1D1D1D;
    --white: #FFF;
    --info: #A977B9;
    --fw-light: Avenir-light, sans-serif;
    --fw-medium: Avenir-medium, sans-serif;
    --fw-bold: Avenir-black, sans-serif;
}

body {
    color: var(--dark);
    font-family: var(--fw-light);
    font-weight: lighter;
    overflow-x: hidden;
}

a,
button {
    cursor: pointer;
}


/* Font Styling */

h1,
h2 {
    font-family: var(--fw-bold);
}

h2 {
    font-size: 2rem;
}

h2.card-headline {
    padding-bottom: 1rem;
}

h4.card-subline {
    font-size: 1rem;
    font-family: var(--fw-bold);
}

h4 {
    font-family: var(--fw-medium);
}


/* Buttons */

button {
    border: 2px solid var(--primary);
    border-radius: 25px;
    color: var(--primary);
    padding: 15px 59px;
    background-color: none !important;
}

.btn-bestellen,
.btn-hero {
    transition-duration: 0.4s;
}

.btn-bestellen:hover {
    background-color: var(--primary) !important;
    color: var(--white);
}

.btn-bestellen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-hero {
    display: flex;
    border: 2px solid var(--dark);
    color: var(--dark);
}

.btn-hero:hover {
    background-color: var(--dark) !important;
    color: var(--white);
}


/* Navigation */

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
}

.nav,
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

li {
    list-style: none;
    padding-bottom: 2rem;
}

nav-link,
a {
    display: block;
    padding: .5rem 1rem;
    color: var(--dark);
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 3px solid var(--primary);
}

.nav-link a.active {
    border-bottom: 3px solid var(--primary);
}


/* Header */

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    max-height: 1024px;
    width: auto;
}

.hero-img {
    width: 100%;
    height: auto;
}

.col-left {
    width: 40%;
    height: 100%;
    align-items: center;
}

.col-right {
    width: 60%;
    height: 100%;
}


/* Gutschein-Cards */

.coupon-wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background: #EFEFEF;
    box-shadow: 0px 24px 30px #ECF0F4;
    border: none;
    border-radius: 25px;
    max-width: 400px;
    margin-top: 5rem;
}

.card-img {
    height: auto;
    max-width: 400px;
}

.coupon-img {
    border-radius: 25px;
    max-width: 400px;
}

.card-header {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0 1rem 0;
    height: 100%;
}

.card-headline,
h2 {
    margin-bottom: 1.3rem;
}

.list-rows {
    display: flex;
    flex-direction: row;
    margin-top: 1.3em;
    min-height: 270px;
}

ol {
    margin-top: 2rem;
}

.list-right {
    text-align: right;
}

.list-left {
    text-align: left;
    padding-bottom: 2rem;
    height: 15px;
}

.info-sub {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
    color: var(--info);
    font-family: var(--fw-medium);
    font-size: 0.8;
}

span.side-info {
    font-family: var(--fw-light);
    color: var(--info);
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.9rem;
    margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
    .coupon-wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Footer */

.footer {
    display: flex;
    background: var(--dark);
    color: var(--white);
    margin-top: 5rem;
}

.footer-link {
    color: var(--white);
}